body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin-top: 150px;
}

#map {
    height: 800px;
    max-width: 100%;
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

.sub-header {
    background-color: #541833;
    color: white;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.sub-header h1 {
    font-size: 40px;
    margin-bottom: 30px;
}


.stadium-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
    align-items: center;
    text-align: left;
}

.stadium-img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-top: 30px;
}

.stadium-details {
    display: flex;
    width: 100%;
    flex-grow: 1;
    margin-left: 20px;
    text-align: left;

}

.stadium-details h2 {
    font-size: 40px;
    color: #1a1a40;
    margin-bottom: 15px;
}

.stadium-details ul {
    list-style: none;
    padding: 0;
}

.stadium-details li {
    font-size: 20px;
    margin-bottom: 10px;
    color: #1a1a40;
}