.match-section {
  background-color: #541833;
  color: white;
  padding: 75px;
  margin-top: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.match-header .match-date {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 5px;
  text-transform: uppercase;
  opacity: 0.95;
}

.match-header .competition {
  font-size: 0.95rem;
  opacity: 0.8;
  text-align: center;

  margin-bottom: 40px;
  text-transform: uppercase;
}

.teams-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 120px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.team img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.teams-name-right{
  font-weight: 500;
  font-size: 30px;
  margin-top: 10px;
  margin-right: 80px;
}

.teams-name-left{
  font-weight: 500;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 80px;
}

.match-time {
  text-align: center;
  margin: 30px 0;
}

.time-box {
  background-color: white;
  color: #1e2444;
  font-weight: bold;
  padding: 14px 35px;
  font-size: 1.6rem;
  border-radius: 6px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
}

.stadium {
  margin-top: 50px;
  font-size: 18px;
  opacity: 0.9;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.stats-comparison {
  background-color: rgb(229, 229, 229);
  border-radius: 14px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 40px 20px;
  margin: 40px;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  position: relative;
}

.stat-row {
  position: relative;
  margin-bottom: 35px;
  height: 40px;
}

.stat-value.left{
  position: absolute;
  top: 0;
  font-weight: bold;
  color: #556;
  font-size: 18px;
  width: 50px;
  text-align: left;
  margin-left: 50px;
}

.stat-value.right {
  position: absolute;
  top: 0;
  font-weight: bold;
  color: #556;
  font-size: 18px;
  width: 50px;
  text-align: right;
  margin-right: 50px;
}

.stat-value.left {
  left: 0;
}

.stat-value.right {
  right: 0;
}

.stat-center {
  width: 93%;
  margin: 0 auto;
  text-align: center;
}

.stat-label {
  font-weight: 700;
  font-size: 18px;
  color: #1a2a4f;
  margin-bottom: 8px;
}

.stat-bar-container {
  position: relative;
  height: 6px;
  background-color: #dde3ee;
  border-radius: 5px;
  overflow: hidden;
}

.stat-bar {
  position: absolute;
  height: 100%;
  top: 0;
  border-radius: 5px;
}

.left-bar {
  left: 0;
  background-color: #781c39;
}

.right-bar {
  right: 0;
  background-color: #0033a0;
}

.team-overview {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  background-color: rgb(229, 229, 229);
  padding: 40px;
  border-radius: 12px;
  margin: 40px;
  margin-top: 60px;
  padding-bottom: 0px;
  max-width: 100%;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.team-comparison {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.team {
  flex: 1;
  text-align: left;
  padding: 20px;
}

.team-logo {
  height: 60px;
  margin-bottom: 10px;
}

.team-stats {
  font-size: 16px;
  color: #1a2a4f;
  margin-top: 20px;
}

.form{
  align-items: center;
}

.team h3 {
  font-weight: bold;
  color: #002f6c;
  font-size: 22px;
  text-align: center;
}

.team-stats div {
  margin: 10px 0;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.team-stats strong {
  display: block;
  font-size: 14px;
  color: #444;
}

.team-stats span {
  font-size: 22px;
  font-weight: bold;
  color: #002f6c;
}

.stadium-info {
  flex: 1;
  text-align: left;
}

.stadium-image {
  margin-top: 20px;
  width: 95%;
  height: 70%;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.stadium-name {
  margin-top: 12px;
  font-weight: bold;
  color: #002f6c;
  font-size: 25px;
}
