body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin-top: 150px;
}

h2 {
    font-size: 35px;
    padding-left: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.jogadores {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(320px, 370px));
    margin-bottom: 60px;
}

.jogadores-guarda-redes {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(320px, 370px));
    margin-bottom: 60px;
    max-width: 100%;
}

.jogador {
    text-align: center;
}

.jogador a {
    display: inline-block;
    background-color: transparent;
    transition: background-color 0.5s ease;
}

.jogador a:hover {
    background-image: url('../Background Images/Slide 16_9 - 5_ background.png');
}

.jogador img {
    width: 300px;
    height: auto;
    display: block;
}

.info-jogador {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 5px;
}

.numero {
    font-size: 60px;
    font-weight: bold;
    color: #ccc;
    min-width: 60px;
}

.detalhes {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.nome {
    font-size: 30px;
    margin: 0;
    color: #1e2444;
}

.posicao {
    font-size: 17px;
    color: #777;
    margin: 0;
}

.sub-header {
    background-image: url('../Background Images/Slide 16_9 - 8_ background.png');
    color: white;
    padding-top: 70px;
    padding-left: 20px;
    text-align: left;
    ;
}

.sub-header h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

.nav-positions {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.nav-positions button {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s;
}

.nav-positions button:hover,
.nav-positions button.active {
    color: #ffdd00;
}

/* Remove completamente o sublinhado amarelo */
.nav-positions button::after {
    display: none;
}